@mixin setUpPosition(
    $toBeCenteredInX: false,
    $toBeCenteredInY: false,
    $top: initial,
    $left: initial,
    $right: initial,
    $bottom: initial
    ) {

    position: absolute;

    @if $toBeCenteredInX {
        left: 50%;
        transform: translateX(-50%);
    }

    @if $toBeCenteredInY {
        top: 50%;
        transform: translateY(-50%);
    }

    @else {
        top: $top;
        left: $left;
        right: $right;
        bottom: $bottom;
    }

}
