@import "_variables.scss", '_funcs-and-components.scss';

body {
    display: flex;
    flex-flow: row wrap;
}

.landing_menu {
    align-items: center;
    background: $brown;
    border-radius: $main-border;
    box-shadow: $main-shadow;
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    justify-content: space-around;
    margin: 16px auto;
    position: absolute;
    width: 12.5rem;
    
        &__option {
             background: none;
             border: none;
             font-size: 1.2rem;
             
             & a {
              color: $new-white;
          }
         }
    @include centryElementHorizontally
}

.general_profile {
    width: 100vw;
    height: 100vh;
    background: $new-white;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.soft_skills {
    width: 100vw;
    height: 75vh;
    background: $brown;
    color: $new-white;
}

.technical_skills {
    width: 100vw;
    height: 75vh;
    background: $green-gradient;
    color: $brown;
}

.about_me_adjustment {
    border-radius: 50%;
    border: .5rem double $new-white;
    height: 14rem;
    overflow: hidden;
    width: 14rem;
    background: $forest-green;   
    align-self: center;
    margin-top: 85px;
}

#prf-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.dev {
    align-self: center;
}

.dev__name {
    font-size: $titles-size;
    text-align: center;
    font-family: $titles;
}

.dev__plate {
    text-align: center;
    font-family: $titles;
    font-size: calc($titles-size - .5rem);
}

.data__dev_description {
    text-align: center;
    font-family: $descriptions;
    font-size: $desc-size;
    overflow: scroll;
}

.contact_links {
    display: flex;
    padding: 20px;
    justify-content: center;
    
  &__site {
    color: $brown;
    padding: 0.9rem;
    font-size: 3rem;
    text-align: center;
  }
}

.soft_skills, .technical_skills {
    display: flex;
    flex-direction: column;
    font-family: $titles;
    font-size: 2.5rem;

        &__flag {
            align-self: center;
            text-align: center;
            padding-top: 15px;
            
            &__legend {
                text-align: center;
                font-size: 2.8rem;
            }

            i {
                padding-top: 30px;
                font-size: 6rem;
            }
        }

        &__legend {
            padding: 0 15px 0 15px;
            font-family: $descriptions;
            font-size: $desc-size;
        }

        &__list {
            padding-left: 15px;
            list-style: none;
            font-family: $descriptions;
            font-size: $desc-size;
        }
}

#html5-symbol {
    color: #d8460d;
    box-shadow: $main-shadow;
}

@media screen and (min-width: 1280px) {
    html:root {
        font-size: 17px;
    }

    .data__dev_description,
    .technical_skills__legend, .technical_skills__list,
    .soft_skills__legend, .soft_skills__list {
        padding: 0 40px;
    }

    .landing_menu {
        height: 4rem;
        width: 17.5rem;
        
        &__option {
            font-size: 1.5rem;
        }
    }
}

@media screen and (min-width: 1440px) { 
    html:root {
        font-size: 19px;
    }    
}

@media screen and (min-width: 1920px) {
    html:root {
        font-size: 22px;
    }
}
