@charset "UTF-8";
/* Fuentes */
/* Paleta de colores principal */
/* Paleta de colores complementarios */
/* Instalación de fuentes personalizadas */
@font-face {
  font-family: "modern-aristocrat";
  src: url("./fonts/modern_aristocrat-webfont.woff2") format("woff2"), url("./fonts/modern_aristocrat-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "made-tommy";
  src: url("./fonts/made_tommy_regular_outline_personal_use-webfont.woff2") format("woff2"), url("./fonts/made_tommy_regular_outline_personal_use-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html:root {
  font-size: 16px;
}

body {
  background: #F2F2F2;
}

/* Menu principal de navegación */
.landing_menu {
  align-items: center;
  background: #110800;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  height: 2.5rem;
  justify-content: space-around;
  margin: 16px auto;
  position: absolute;
  width: 12.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.landing_menu__option {
  background: none;
  border: none;
  color: #F2F2F2;
  font-size: 1.2rem;
}

/* Encabezado principal */
.home_header {
  align-items: center;
  background: linear-gradient(45deg, #93A603, #A9BF04, #5A7302);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 100vw;
  min-height: 20rem;
}

.home_header__profile_img {
  border-radius: 50%;
  border: 0.5rem double #F2F2F2;
  height: 8rem;
  width: 8rem;
}

#prf-img {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.header_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 30rem;
  max-width: 100vw;
  padding: 15px;
}
.header_content__title {
  font-family: "modern-aristocrat", "Helvetica", "sans-serif";
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.header_content__title_plate {
  font-family: "modern-aristocrat", "Helvetica", "sans-serif";
  font-size: 1rem;
}
.header_content__txt_vignets {
  font-family: "Raleway", "Arial", "sans-serif";
  font-size: 0.75rem;
  max-width: 80%;
  text-align: center;
}
.header_content__stage_dotts {
  align-self: center;
  display: inline-flex;
  height: 1rem;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  max-width: 7rem;
  padding: 0;
  width: 40%;
}
.header_content__stage_dotts__dott {
  background: #110800;
  border-radius: 50%;
  border: 1px double #F2F2F2;
  flex-basis: 12%;
  height: 80%;
}

/* Encabezado de la presentación de mis proyectos y stack de tecnologías. */
.discovering_zone_title {
  font-family: "modern-aristocrat", "Helvetica", "sans-serif";
  font-size: 1.5rem;
  text-align: center;
}

/* Elementos de nube para el encabezado */
.discovering_zone_title::before {
  background: #A9BF04;
  -webkit-clip-path: polygon(50% 100%, 0% 47%, 0 20%, 15% 0, 35% 0, 50% 15%, 65% 0, 85% 0, 100% 20%, 100% 47%);
          clip-path: polygon(50% 100%, 0% 47%, 0 20%, 15% 0, 35% 0, 50% 15%, 65% 0, 85% 0, 100% 20%, 100% 47%);
  content: "";
  display: block;
  height: 3.5rem;
  transform: translateX(5vw);
  width: 3.5rem;
}

.discovering_zone_title::after {
  background: #A9BF04;
  -webkit-clip-path: polygon(50% 100%, 0% 47%, 0 20%, 15% 0, 35% 0, 50% 15%, 65% 0, 85% 0, 100% 20%, 100% 47%);
          clip-path: polygon(50% 100%, 0% 47%, 0 20%, 15% 0, 35% 0, 50% 15%, 65% 0, 85% 0, 100% 20%, 100% 47%);
  content: "";
  display: block;
  height: 3.5rem;
  transform: translateX(calc(95vw - 3.5rem));
  width: 3.5rem;
}

#projects-discover-photo {
  justify-content: center;
  max-height: 576px;
  min-height: 160px;
  width: 97vw;
}

/* Responsive GRID para presentar mi stack de tecnologías dominadas y en aprendizaje */
/* Contenedor GRID */
.stack_panel {
  background: #110800;
  border-radius: 15px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 25rem;
  list-style: none;
  margin: 10px auto;
  max-height: 40rem;
  max-width: 75vw;
  min-height: 190px;
  padding: 20px;
}
.stack_panel__tech {
  background: #e2e2e2;
  border-radius: 50%;
  font-size: 2rem;
  height: 85%;
  text-align: center;
}
.stack_panel__tech > i {
  transform: translateY(50%);
}/*# sourceMappingURL=styles.css.map */